/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/

body {
	font-family: 'Poppins', sans-serif;
}

.alert {
	
	background-color: #fdf1f1;
	margin : 0 auto;
	padding: 0;
}


